<!-- countries.ejs -->
<!DOCTYPE html>
<html lang="it">

  <%- include ('include/head.ejs') %>

  <body class="bg-dark">

    <div class="container-fluid p-0">

      <%- include ('include/navbar.ejs') %>

      <table id = "sortTable" class="table table-hover table-striped text-center" style="background-color:#dccca3;">
        <thead class="sticky-top fw-bold bg-light text-dark">
          <tr>
            <th onclick="sortTable(0)" scope="col">Country</th>
            <th onclick="sortTable(1)" scope="col">Number of wines</th>
            <th onclick="sortTable(2)" scope="col">Number of ratings</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < countries.length; i++) {%>
          <tr id = "countries" style="color: #4a2545;">
            <td class = "align-middle fw-bold" style="width: 50%; font-size: 18px;"><%= countries[i]._id %></td>
            <td class = "align-middle" style="width: 20%"><%= countries[i].numWines %></td>
            <td class = "align-middle" style="width: 30%"><%= countries[i].numRatings%></td>
          </tr>
          <% } %>
        </tbody>
      </table>

    </div>

    <%- include ('include/script.ejs') %>

  </body>

</html>