<!-- hallOfFame.ejs -->
<!DOCTYPE html>
<html lang="it">

  <%- include ('include/head.ejs') %>

  <body class="bg-dark vh-100">

    <div class="container-fluid h-100 d-flex flex-column flex-grow-1 p-0">

      <%- include ('include/navbar.ejs') %>

      <div class="row flex-fill text-warning text-center">
        <div class="col d-flex">
          <div class="my-auto p-5">
            <h4>Most expensive wine</h4>
            <div class = "mt-5">
              <div class = "mb-5 p-5 rounded-circle border border-warning" style="background-color:#824c71;">
                <%switch (mostExpensive.Tipology) {
                  case 'red': %>
                <img src="/img/red.png">
                  <%
                    break
                  case 'white':%>
                <img src="/img/white.png">
                  <%
                    break
                  case 'rose':%>
                <img src="/img/rose.png">
                  <%
                    break
                  case 'sparkling':%>
                <img src="/img/sparkling.png">
                  <%
                    break
                }%>
                <p><%= mostExpensive.Name%></p>
              </div>
              <p><%= mostExpensive.NumberOfRatings%> ratings</p>
              <p><%= mostExpensive.Price%> €</p>
            </div>
          </div>
        </div>

        <div class="col d-flex">
          <div class="my-auto p-5">
            <h4>Cheapest wine</h4>
            <div class = "mt-5">
              <div class = "mb-5 p-5 rounded-circle border border-warning" style="background-color:#824c71;">
                <%switch (cheapest.Tipology) {
                  case 'red': %>
                <img src="/img/red.png">
                  <%
                    break
                  case 'white':%>
                <img src="/img/white.png">
                  <%
                    break
                  case 'rose':%>
                <img src="/img/rose.png">
                  <%
                    break
                  case 'sparkling':%>
                <img src="/img/sparkling.png">
                  <%
                    break
                }%>
                <p><%= cheapest.Name%></p>
              </div>
              <p><%= cheapest.NumberOfRatings%> ratings</p>
              <p><%= cheapest.Price%> €</p>
            </div>
          </div>
        </div>

        <div class="col d-flex">
          <div class="my-auto p-5">
            <h4>Most popular wine</h4>
            <div class = "mt-5">
              <div class = "mb-5 p-5 rounded-circle border border-warning" style="background-color:#824c71;">
                <%switch (mostPopular.Tipology) {
                case 'red': %>
                <img src="/img/red.png">
                <%
                  break
                case 'white':%>
                <img src="/img/white.png">
                <%
                  break
                case 'rose':%>
                <img src="/img/rose.png">
                <%
                  break
                case 'sparkling':%>
                <img src="/img/sparkling.png">
                <%
                  break
                }%>
                <p><%= mostPopular.Name%></p>
              </div>
              <p><%= mostPopular.NumberOfRatings%> ratings</p>
              <p><%= mostPopular.Price%> €</p>
            </div>
          </div>
        </div>

        <div class="col d-flex">
          <div class="my-auto p-5">
            <h4>Best wine</h4>
            <div class = "mt-5">
              <div class = "mb-5 p-5 rounded-circle border border-warning" style="background-color:#824c71;">
                <%switch (best.Tipology) {
                  case 'red': %>
                <img src="/img/red.png">
                  <%
                    break
                  case 'white':%>
                <img src="/img/white.png">
                  <%
                    break
                  case 'rose':%>
                <img src="/img/rose.png">
                  <%
                    break
                  case 'sparkling':%>
                <img src="/img/sparkling.png">
                  <%
                    break
                }%>
                <p><%= best.Name%></p>
              </div>
              <p><%= best.NumberOfRatings%> ratings</p>
              <p><%= best.Price%> €</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include ('include/script.ejs') %>
  </body>
</html>