<!-- countries.ejs -->
<!DOCTYPE html>
<html lang="it">

  <%- include ('include/head.ejs') %>

  <body class="bg-dark">

    <div class="container-fluid p-0">

      <%- include ('include/navbar.ejs') %>
      <table id = "sortTable" class="table table-hover table-striped text-center" style="background-color:#dccca3;">
        <thead class="sticky-top fw-bold bg-light text-dark">
          <tr>
            <th scope="col">Region</th>
            <th scope="col">Country</th>
            <th scope="col">Number of wines</th>
            <th scope="col">Number of ratings</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < origins.length; i++) {%>
          <tr id = "countries" style="color: #4a2545;">
            <td class = "align-middle fw-bold" style="width: 40%; font-size: 18px;"><%= origins[i]._id %></td>
            <td class = "align-middle" style="width: 20%"><%= origins[i].country %></td>
            <td class = "align-middle" style="width: 20%"><%= origins[i].numWines %></td>
            <td class = "align-middle" style="width: 20%"><%= origins[i].numRatings%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <%- include ('include/script.ejs') %>

  </body>
</html>