<!-- wines.ejs -->
<!DOCTYPE html>
<html lang="it">

  <%- include ('include/head.ejs') %>

  <body class="bg-dark">

    <div class="container-fluid">

      <div class="row">

        <%- include ('include/sidebar.ejs') %>

        <div class="col-md-10 col-12">

          <%- include ('include/navbar.ejs') %>

          <table id="sortTable" class="table table-hover table-striped text-center" style="background-color:#dccca3;">
            <thead class="sticky-top fw-bold bg-light text-dark" style="z-index:0;">
              <tr>
                <th onclick="sortTable(0)" scope="col">Name</th>
                <th onclick="sortTable(1)" scope="col">Tipology</th>
                <th onclick="sortTable(2)" scope="col">Origin</th>
                <th scope="col">Popularity</th>
                <th onclick="sortTable(4)" scope="col">Rating</th>
                <th scope="col">Price</th>
                <th scope="col">Year</th>
              </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i < wines.length; i++) {%>
              <tr id="wines">
                <td class="align-middle fw-bold text-dark"><%= wines[i].Name %></td>
                <%switch (wines[i].Tipology) {
                case 'red': %>
                <td style="width: 3%"><img src="/img/red.png"></td>
                <%
                  break
                case 'white':%>
                <td style="width: 3%"><img src="/img/white.png"></td>
                <%
                  break
                case 'rose':%>
                <td style="width: 3%"><img src="/img/rose.png"></td>
                <%
                  break
                case 'sparkling':%>
                <td style="width: 3%"><img src="/img/sparkling.png"></td>
                <%
                  break
                }%>
                <td class = "align-middle" style="width: 25%"><%= wines[i].Region %> (<%= wines[i].Country%>)</td>
                <%switch (true) {
                case (wines[i].NumberOfRatings >= 10000): %>
                <td class = "align-middle" style="width: 10%">
                  <span class="fa fa-star" style="color:#ffe18f;"></span>
                  <span class="fa fa-star" style="color:#ffe18f;"></span>
                  <span class="fa fa-star" style="color:#ffe18f;"></span>
                  <span class="fa fa-star" style="color:#ffe18f;"></span>
                  <span class="fa fa-star" style="color:#ffe18f;"></span>
                </td>
                <%
                  break
                case (wines[i].NumberOfRatings >= 5000): %>
                <td class = "align-middle" style="width: 10%">
                  <span class="fa fa-star" style="color:#ffe18f;"></span>
                  <span class="fa fa-star" style="color:#ffe18f;"></span>
                  <span class="fa fa-star" style="color:#ffe18f;"></span>
                  <span class="fa fa-star" style="color:#ffe18f;"></span>
                  <span class="fa fa-star" style="color:#824c71;"></span>
                </td>
                <%
                  break
                case (wines[i].NumberOfRatings >= 1000): %>
                <td class = "align-middle" style="width: 10%">
                  <span class="fa fa-star" style="color:#ffe18f;"></span>
                  <span class="fa fa-star" style="color:#ffe18f;"></span>
                  <span class="fa fa-star" style="color:#ffe18f;"></span>
                  <span class="fa fa-star" style="color:#824c71;"></span>
                  <span class="fa fa-star" style="color:#824c71;"></span>
                </td>
                <%
                  break
                case (wines[i].NumberOfRatings >= 500): %>
                <td class = "align-middle" style="width: 10%">
                  <span class="fa fa-star" style="color:#ffe18f;"></span>
                  <span class="fa fa-star" style="color:#ffe18f;"></span>
                  <span class="fa fa-star" style="color:#824c71;"></span>
                  <span class="fa fa-star" style="color:#824c71;"></span>
                  <span class="fa fa-star" style="color:#824c71;"></span>
                </td>
                <%
                  break
                case (wines[i].NumberOfRatings >= 100): %>
                <td class = "align-middle" style="width: 10%">
                  <span class="fa fa-star" style="color:#ffe18f;"></span>
                  <span class="fa fa-star" style="color:#824c71;"></span>
                  <span class="fa fa-star" style="color:#824c71;"></span>
                  <span class="fa fa-star" style="color:#824c71;"></span>
                  <span class="fa fa-star" style="color:#824c71;"></span>
                </td>
                <%
                  break
                  default: %>
                <td class = "align-middle" style="width: 10%">
                  <span class="fa fa-star" style="color:#824c71;"></span>
                  <span class="fa fa-star" style="color:#824c71;"></span>
                  <span class="fa fa-star" style="color:#824c71;"></span>
                  <span class="fa fa-star" style="color:#824c71;"></span>
                  <span class="fa fa-star" style="color:#824c71;"></span>
                </td>
                <%}%>
                <td class = "align-middle" style="width: 5%"><%= wines[i].Rating %></td>
                <td class = "align-middle" style="width: 10%"><%= wines[i].Price.toString().replace('.',',')%> €</td>
                <td class = "align-middle" style="width: 5%"><%= wines[i].Year.toString().replace('NaN','---')%></td>
              </tr>
            <% } %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <%- include ('include/script.ejs') %>
  </body>
</html>